# Python Basics - Data Structures

Python has 4 built-in data structures: *list*, *tuple*, *set* and *dictionary*.

## List and Tuple

In [3]:
lis1 = [[1, 2], 'cfd', 3]
tup1 = ('heat', 4.5, [2.6,'transfer'], 1e-3)
tup2 = 2.34, 'fea', 3.4, -20.2  # parentheses are optional
tup3 = 2.3, # or (2.3,)
tup4 = (2.3) # a number, not a tuple
print(lis1)
del lis1[0]
print(lis1)
print(tup1)
print(tup2)
print(tup3)
print(tup4)

[[1, 2], 'cfd', 3]
['cfd', 3]
('heat', 4.5, [2.6, 'transfer'], 0.001)
(2.34, 'fea', 3.4, -20.2)
(2.3,)
2.3

In [2]:
# Indexing and slicing
print(lis1[2])
print(tup2[-1])
print(lis1[1:])
print(tup1[:-1])
print(lis1[0][1]) # nested lists
print(tup1[2][1]) # nested tuples

3
-20.2
['cfd', 3]
('heat', 4.5, [2.6, 'transfer'])
2
transfer

In [3]:
lis1[1] = 'les'
print(lis1)
#tup1[1] = 5.4  # tuples are immutable
tup1[2][1] = [9.9, 'is', 'how'] # the item is mutable, i.e. a list.
print(tup1)
tup5 = tup2 + tup3 # Concatenation
print(tup5)

[[1, 2], 'les', 3]
('heat', 4.5, [2.6, [9.9, 'is', 'how']], 0.001)
(2.34, 'fea', 3.4, -20.2, 2.3)

In [4]:
a, b, c = lis1 # unpack list
print(a, b, c)
[a, b, c] = lis1
print(a, b, c)
a, b, c, d = tup2 # unpack tuple
print(a, b, c, d)
(a, b, c, d) = tup2
print(a, b, c, d)

[1, 2] les 3
[1, 2] les 3
2.34 fea 3.4 -20.2
2.34 fea 3.4 -20.2

### List Methods

In [18]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [19]:
fruits.count('apple')

2

In [20]:
fruits.count('tangerine')

0

In [21]:
fruits.index('banana')

3

In [22]:
fruits.index('banana', 4) # Starting position 4

6

In [23]:
fruits.reverse()

In [24]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [28]:
tuple(fruits).sorted

AttributeError: 'tuple' object has no attribute 'sorted'

In [12]:
fruits.append('grape')

In [17]:
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [15]:
fruits.sort()

In [16]:
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [14]:
fruits.pop()

'pear'

### Using Lists as Stacks

In [15]:
stack = [3, 4, 5]

In [16]:
stack.append(6)
stack.append(7)

In [17]:
stack

[3, 4, 5, 6, 7]

In [18]:
stack.pop()

7

In [19]:
stack.pop()
stack.pop()

5

In [20]:
stack

[3, 4]

### List Comprehensions

In [21]:
squares = []
for x in range(10):
    squares.append(x**2)

In [22]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
squares = list(map(lambda x: x**2, range(10)))

In [24]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [25]:
squares = [x**2 for x in range(10)]

In [26]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [28]:
combs = []
for x in [1, 2, 3]:
    for y in [3, 1, 4]:
        if x != y:
            combs.append((x, y))

In [29]:
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [27]:
[(x, y) for x in [1, 2, 3] for y in [3, 1, 4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [32]:
# Create a list
vec = [-4, -2, 0, 2, 4]

In [33]:
# Create a new list with values doubled
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [34]:
# Filter the list to exclude negative numbers
[x for x in vec if x >= 0]

[0, 2, 4]

In [36]:
# Apply a function to all the elements
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [37]:
freshfruit = ['banana', 'loganberry', 'passion fruit']

In [41]:
# Call a method to return a copy of the string
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [43]:
# Create a list of 2-tuples like. Tuple must be parenthesized
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [45]:
# Flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Iterate over and modify a list:

In [19]:
nations = ['China', 'Russia', 'United States', 'Japan', 'United Kingdom']

In [20]:
# The following code will lead to infinite loop.
#for n in nations:
#    if len(n) > 6:
#        nations.insert(0, n)

Because it iterates the list and tries to modify it.

It will be fine if we make a copy of the list.

In [21]:
for n in nations[:]:
    if len(n) > 6:
        nations.insert(0, n)

In [22]:
nations

['United Kingdom',
 'United States',
 'China',
 'Russia',
 'United States',
 'Japan',
 'United Kingdom']

In [23]:
for n in list(nations):
    if len(n) > 6:
        nations.insert(0, n)

In [24]:
nations

['United Kingdom',
 'United States',
 'United States',
 'United Kingdom',
 'United Kingdom',
 'United States',
 'China',
 'Russia',
 'United States',
 'Japan',
 'United Kingdom']

** The fastest way to swap two variables in Python - use tuples **

In [5]:
a = 1; b=2
print((a, b))
a, b = b, a
print((a, b))

(1, 2)
(2, 1)

## Set

In [6]:
set1 = {1, 2, 3, (3, 4), 'set'}
print(set1)
print(type(set1))
#set2 = {2, 4, [1, 2]}  # cannot put mutable element such as list
set2 = {2, 4, (1, 2)}
print(set2)
# convert to a set from lists or tuples
set3 = set((1, 2, 'tuple'))
set4 = set([1, 3, 'list'])
print(set3)
print(set4)
set5 = set()
set5.add(1) # add one element
set5.update([1, 2, 3, 4], ('tuple',), ['list'])
print(set5)
set5.remove(1)
print(set5)
set5.discard(2)
print(set5)

{1, 2, 3, 'set', (3, 4)}
<class 'set'>
{(1, 2), 2, 4}
{1, 2, 'tuple'}
{1, 3, 'list'}
{1, 2, 3, 4, 'list', 'tuple'}
{2, 3, 4, 'list', 'tuple'}
{3, 4, 'list', 'tuple'}

In [7]:
# set operation
set6 = {1, 2, 3, 4, 5, 6}
set7 = set([1, 3, 5, 7, 9])
print(set6 | set7)
print(set6.union(set7))
print(set6 & set7)
print(set7.intersection(set6))
print(set7 - set6)
print(set6 - set7)
print(set6.difference(set7))

{1, 2, 3, 4, 5, 6, 7, 9}
{1, 2, 3, 4, 5, 6, 7, 9}
{1, 3, 5}
{1, 3, 5}
{9, 7}
{2, 4, 6}
{2, 4, 6}

In [92]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

In [95]:
set(basket)

{'apple', 'banana', 'orange', 'pear'}

In [94]:
for f in sorted(basket):
    print(f)

apple
apple
banana
orange
orange
pear

In [97]:
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

## Dictionary

In [57]:
# An unordered set of key: value pairs
dic1 = {'id': '54234', 'Name': 'Brandon', 2: [1, 1]}
type(dic1)
print(dic1)
print(dic1['Name'])
dic1['Month'] = 'January'
print(dic1)

{'id': '54234', 'Name': 'Brandon', 2: [1, 1]}
Brandon
{'id': '54234', 'Name': 'Brandon', 2: [1, 1], 'Month': 'January'}

In [58]:
dic1[2] = [1.0, 1.0]
print(dic1)
del dic1['id']
print(dic1)
print(len(dic1))
list(dic1)

{'id': '54234', 'Name': 'Brandon', 2: [1.0, 1.0], 'Month': 'January'}
{'Name': 'Brandon', 2: [1.0, 1.0], 'Month': 'January'}
3

['Name', 2, 'Month']

In [60]:
'Name' in dic1

True

In [62]:
{x: x**2 for x in [2, 4, 6]}

{2: 4, 4: 16, 6: 36}

In [70]:
dict([('space', 4132), ('name', 'roy'), ('birthday', '03081991'), (2, 'Second')])

{'space': 4132, 'name': 'roy', 'birthday': '03081991', 2: 'Second'}

### Looping Through Dictionaries

In [79]:
nations = {'China': 'Asia', 'Nigeria': 'Africa', 'Canada': 'North America'}

In [90]:
i = 0
for nat in nations.keys():
    i += 1
    print('Nation no. {0} : {1}'.format(i, nat))

Nation no. 1 : China
Nation no. 2 : Nigeria
Nation no. 3 : Canada

In [83]:
i = 0
for conti in nations.values():
    i += 1
    print('Continent no.', i, ':', conti)

Continent no. 1 : Asia
Continent no. 2 : Africa
Continent no. 3 : North America

In [81]:
# Key and corresonding value can be retrieved at the same time using
for n, c in nations.items():
    print(n, 'is in', c)

China is in Asia
Nigeria is in Africa
Canada is in North America

In [84]:
# Position index
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [85]:
questions = ['name', 'quest', 'favourite colour']

In [86]:
answers = ['lancelot', 'the holy grail', 'blue']

In [91]:
# Pair two sequences
for q, a in zip(questions, answers):
    print('What is your {0}? It is {1}'.format(q, a))

What is your name? It is lancelot
What is your quest? It is the holy grail
What is your favourite colour? It is blue